*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    height: 100px;
    background-color: blueviolet;
}

.sidebar{
    width: 200px;
    height: 300px;
    background-color: brown;
    float: left;
}

.content {
    width: 600px;
    float: left;
    height: 500px;
    background-color: aqua;
}

.footer {
    height: 200px;
    background-color: black;
}